    {% load bootstrap %}
<!DOCTYPE html>
<html lang="pt_Br">
    {% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pessoas</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Bem-vindo à Página Projeto  _ Pessoa</h1>     
        
    </header>

    <main>
         {{ form|bootstrap }}        
        <form method="POST" enctype="multipart/form-data">            

            # or use with individual field
            {{ form.<field name>|bootstrap }} - To output individual fields

            # For horizontal forms
            {{ form|bootstrap_horizontal }}

            # Or with custom size (default is 'col-lg-2 col-sm-2')
            {{ form|bootstrap_horizontal:'col-lg-4' }}
      
            {% csrf_token %}             
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
         
    </main>
       <br>
        <!-- - colocando imagem      -->
        <img src="{% static "images/Hexagrama.jpg" %}" alt="images/"/>
    

    <footer>
        <p>© 2024 Minha Aplicação</p>
    </footer>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>