<!DOCTYPE html>
<html lang="pt_Br">
    {% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pessoa</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Bem-vindo à Página Projeto  _ Pessoa</h1>
        
    </header>
    <main>
        <p>Esta é uma página de exemplo em Django com cores azul e laranja.</p>
        <button id="actionButton">Clique Aqui</button>
      
    </main>

            <!-- Corrigido o bloco de lógica condicional -->
        {% if v_idade > 0 %}
            <p>A pessoa foi encontrada, ela tem {{ v_idade }} anos.</p>
        {% else %}
            <p>Pessoa não encontrada.</p>
        {% endif %}
    </main>
    <img src="{% static "images/Hexagrama.jpg" %}" alt="images/"/>

    

    <footer>
        <p>© 2024 Minha Aplicação</p>
    </footer>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>