body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    /* Azul claro */
    color: #ff8c00;
    /* Laranja */
    margin: 0;
    padding: 0;
}

header {
    background-color: #4682b4;
    /* Azul escuro */
    padding: 20px;
    text-align: center;
    color: white;
}

main {
    padding: 20px;
    text-align: center;
}

button {
    background-color: #ff8c00;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #ffa500;
    /* Laranja mais claro */
}

footer {
    background-color: #4682b4;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}